<div id="<%= controller.action_name %>">
  <% unless @bookings %>
    <div id="bookings">
      <%= render @bookings %>
      <%= paginate @bookings %>
    </div>
  <% else %>
    <h2> Ничего не забронировано </h2>
    <p>Вы еще ничего не забронировали. Выберите тур или отель и забронируйте</p>
  <% end %>
</div>
