<h1>New booking</h1>
<%= render :partial => 'hotels/hotel', :locals => { :hotel => @hotel } if params[:hotel_id] %>
<%= render :partial => 'tours/tour', :locals => { :tour => @tour } if params[:tour_id] %>
<%= render 'form'%>
<%= back_to params %>