<span>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div> <span>some text</span> else text for read </div>

<%= link_to 'new hotel', new_hotel_path %>
<%= link_to 'new tour', new_tour_path %>
<%= link_to 'book now', new_booking_path %>
<br />
<%= image_tag("rails.png", :alt => 'rails face', height: "142", width: "142") %>
<section>
  <header>
    and come it through
  </header>
  <article>
    main article
  </article>
  <footer>
    this is a pretty footer
  </footer>
</section>
