      <aside>
        side menu or search form
        <section id='search-form'>
          <header>
            <h3>Quick Search</h3>
          </header>
          <article>
            <div id="tabs">
              <ul>
                  <li><a href="#tabs-1">Search a hotel</a></li>
                  <li><a href="#tabs-2">Search a tour</a></li>
                  <li><a href="#tabs-3">Search a ticket</a></li>
              </ul>
              <div id="tabs-1">
                  <p>no form for hotels<%#= render 'hotels/search' %></p>
              </div>
              <div id="tabs-2">
                  <p>no form for tours<%#= render 'tours/search' %></p>
              </div>
              <div id="tabs-3">
                  <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
              </div>
            </div>
          </article>
        </section>
      </aside>